.song-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 86px;
}

.song-items {
    width: 300px;
    margin: 10px;
    border: 1px solid currentColor;
    border-radius: 5px;
    background-color: var(--color-box-background);
    padding-bottom: 1em;
}

.song-items > a > div {
    text-align: center;
    padding-bottom: .5em;
}
.song-items p {
    text-align: left;
    padding-left: 3em;
}

article > h2 {
    text-align: left;
    padding-left: 96px;
}

.song-items h3 {
    padding-top: .5em;
    padding-bottom: .5em;
}

article > p {
    text-align: left;
    padding-left: 96px;
}

.sheetmusic {
    border-bottom: 1px solid black;
}