.description {
    text-align: center;
}

article > h2 {
    text-align: center;
    padding-left: 0em;
}

article > a > p {
    text-align: center;
    padding-bottom: 1em;
    padding-left: 0em;
    color: var(--color-text-link)
}