.instrument-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 5em;
}

.instrument-items {
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 1px solid currentColor;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
}