h1 {
    background-color: #171209;
    color: #f7db75;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    text-align: center;
}

body {
    background-color: #eee5d4;
    color:#3a2e17;
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

h2 {
    color: #171209;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}